#root {
    display: flex;
    gap: 2px;
    width: 1105px;
}

.week {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cell {
    background-color: #EDEDED;
    width: 17px;
    height: 17px;
    border: 1px solid transparent;
}

.cell:hover {
    border: 1px solid rgba(0, 0, 0, 0.50);
}

.active {
    border: 1px solid rgba(0, 0, 0, 0.90);
}

.low {
    background-color: #ACD5F2;
}

.moreThenLow {
    background-color: #7FA8C9;
}

.hight {
    background-color: #527BA0;
}

.extraHight {
    background-color: #254E77;
}